<%if !@lists.blank?%>
  <table class="table table-striped table-bordered table-hover table-vcenter">
    <thead>
      <tr>
        <th class="text-center">序号</th>
        <th class="text-center">ID</th>
        <th class="text-center">名称</th>
        <td class="text-center">域名</td>
        <th class="text-center">国家</th>
        <th class="text-center">DowJonesSC</th>
        <th class="text-center">有无新闻</th>
        <!-- <th class="text-center">来源</th> -->
        <th class="text-center">等级</th>
        <!-- <th class="text-center">有无新闻</th> -->
        <th class="text-center">新闻量</th>
        <th class="text-center">操作</th>
      </tr>
    </thead>
    <tbody class="text-center">
    <%i = params[:page].to_i * 50%>
    <%i = i - 50 if i > 50%>
      <% @lists.each do |obj| %>
        <%i += 1%>
       <%=render :partial=>"one_data_in_list",:locals=>{:obj=>obj,:i=>i}%>
      <% end %>
    </tbody>
  </table>
  <div class="text-center">
    <%= paginate @lists%>
  </div>
<%else%>
   <%= render "shared/no_data" %>
<%end%>

