<tr>
  <td><%= social_account.name%></td>
  <td><%= social_account.account %></td>
  <td><%= raw social_account_type_i(social_account.account_type)%></td>
  <td><%= raw status_html(social_account) %></td>
</tr>
