<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>主机</h5>
        </div>

        <div class="ibox-content pl15">
          <div class="bg-search">
            <%=form_tag url_for(action: :search),:class=>"-form-horizontal",:method=>:post do%>
              <div id="rcontent" class="clear-p">

                <div class="col-md-8">
                  <div class="form-group mb0">

                    <input type="text" placeholder="名称" name="keyword" class="form-control pl40" value="<%= params[:keyword] %>">
                    <i class="search-line" style=></i>
                    <i class="fa fa-search search-icon"></i></div>
                </div>


                <div class="ibox-tools dib">
                  <input type="submit" class="btn btn-primary btn-warning w70 mb0" value="搜索">
                  <!-- <a class="btn btn-primary btn-warning w70 mb0">
                    搜索</a> -->
                </div>
                <div class="ibox-tools fr">
                  <a class="btn btn-primary mb0" href="/commands/new" style="display: inline-block ;float: left"><i class="fa fa-plus"></i>
                    添加命令</a>

                  <!--                   <a class="btn btn-primary " href="#" >
                    按钮2</a> -->
                </div>
              </div>

            <%end%>
          </div>
        </div>
        <div id="result_release">
          <div class="ibox-content table-sql">
            <ul class="tab-ul clear-p">
              <li class="tab-li active">
                <a href="#" data-target="all-page">全部接收器列表</a>
              </li>
            </ul>

            <div class="ibox-content p15-0 all-page table-content">
              <table class="table table-striped table-bordered table-hover table-vcenter">
                <thead>
                  <tr>
                    <th class="text-center">接收器IP</th>
                    <th class="text-center">对应域名</th>
                    <th class="text-center">心跳时间</th>
                    <th class="text-center">操作</th>
                  </tr>
                </thead>
                <tbody class="text-center">
                  <% @all_receivers.each do |x| %>
                    <tr>
                      <td><%= x[0] %></td>
                      <td></td>
                      <td><%= time_ago_in_words(Time.at(x[1].to_i)) %>前</td>
                      <td><a href="" >设置通用</a>|<a href="" >设置Agent专用</a></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
              <div class="text-center">
              </div>
            </div>
          </div>
        </div>


        <div id="result_release">
          <div class="ibox-content table-sql">
            <ul class="tab-ul clear-p">
              <li class="tab-li active">
                <a href="#" data-target="all-page">通用接收器列表</a>
              </li>
            </ul>

            <div class="ibox-content p15-0 all-page table-content">
              <table class="table table-striped table-bordered table-hover table-vcenter">
                <thead>
                  <tr>
                    <th class="text-center">域名</th>
                    <th class="text-center">ip</th>
                  </tr>
                </thead>
                <tbody class="text-center">
                </tbody>
              </table>
              <div class="text-center">
              </div>
            </div>
          </div>
        </div>

        <div id="result_release">
          <div class="ibox-content table-sql">
            <ul class="tab-ul clear-p">
              <li class="tab-li active">
                <a href="#" data-target="all-page">主机接收器列表</a>
              </li>
            </ul>

            <div class="ibox-content p15-0 all-page table-content">
              <table class="table table-striped table-bordered table-hover table-vcenter">
                <thead>
                  <tr>
                    <th class="text-center">主机IP</th>
                    <th class="text-center">对应接收器</th>
                  </tr>
                </thead>
                <tbody class="text-center">
                </tbody>
              </table>
              <div class="text-center">
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

