<% provide(:title, "Spider Error Tasks") %>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">

    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>失败任务列表</h5>
        </div>


        <div id="result_release">
          <div class="ibox-content table-sql">
            <ul class="tab-ul clear-p">
            <li class="tab-li active">
              <a href="#" data-target="all-page">列表信息</a>
            </li>
              </ul>

            <div class="ibox-content p15-0 all-page table-content">
              <%= render "error_list_body" %>
            </div>

        </div>
        </div>
      </div>
    </div>
    </div>
  </div>

