<tr>
  <td><%= i%></td>
  <td><%=obj.domain%></td>
  <%if !obj.rss_site.blank? && !JSON.parse(obj.rss_site).blank?%>
  	<td><%=truncate_utf(JSON.parse(obj.rss_site).join(","),15,"...")%></td>
  <%else%>
  	<td></td>>
  <%end%>
  <td><%=obj.newslookup%></td>

</tr>