<%if !@spider_cycle_tasks.blank?%>
  <table class="table table-striped table-bordered table-hover table-vcenter">
    <thead>
      <tr>
        <th class="text-center">标签</th>
        <th class="text-center">标签ID</th>
        <th class="text-center">爬虫名称</th>
        <th class="text-center">优先级别</th>
        <th class="text-center">关键词</th>
        <th class="text-center">周期频率</th>
        <th class="text-center">下次执行时间</th>
        <th class="text-center">任务状态</th>
        <th class="text-center">创建时间</th>
        <th class="text-center">操作</th>
      </tr>
    </thead>
    <tbody class="text-center">
      <% @spider_cycle_tasks.each do |spider_cycle_task| %>
        <tr id="spider_cycle_task_<%=spider_cycle_task.id%>">
          <%=render :partial=>"one_cycle_task_in_list",:locals=>{:spider_cycle_task=>spider_cycle_task}%>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="text-center">
    <%= paginate @spider_cycle_tasks,params: {:task_type => 0}%>
  </div>
<%else%>
  <%= render "shared/no_data" %>
<%end%>