<%if !@spider_tasks.blank?%>
  <table class="table table-striped table-bordered table-hover table-vcenter">
    <thead>
      <tr>
        <th class="text-center">特殊标签</th>
        <th class="text-center">爬虫名称</th>
        <th class="text-center">优先级别</th>
        <th class="text-center">关键词</th>
        <th class="text-center">任务状态</th>
        <th class="text-center">成功数</th>
        <th class="text-center">失败数</th>
        <th class="text-center">警告数</th>
        <th class="text-center">创建时间</th>
        <th class="text-center">操作</th>
      </tr>
    </thead>
    <tbody class="text-center">

      <% @spider_tasks.each do |spider_task| %>
      <tr id = "spider_task_<%=spider_task.id%>">
       <%=render :partial=>"one_task_in_list",:locals=>{:spider_task=>spider_task}%>
      </tr>
      <% end %>

    </tbody>
  </table>
  <div class="text-center">
    <%= paginate @spider_tasks%>
  </div>
<%else%>
   <%= render "shared/no_data" %>
<%end%>
