<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-content">
        <!-- 添加form -->
        <%= form_tag("/lucene/create_index",:class=>"form-horizontal",:method=>"post") do |f| %>
          <div class="form-group">
            <label class="col-sm-2 control-label">索引类别</label>
            <div class="col-sm-10">
              <%=select_tag(:category,options_for_select(Spider.index_categories.to_a,params["category"]),include_blank: "类别",:class=>"form-control m-b")%>
            </div>
          </div>
          <div class="hr-line-dashed"></div>
          <div class="form-group">
            <label class="col-sm-2 control-label">时间区间</label>
            <div class="col-sm-5">
              <div id="ionrange_3"></div>
              <div class="input-group date" id="begin_date">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span> <input class="form-control" value="2018-01" type="text" name="okr[begin_time]" id="index_begin_time">
              </div>
            </div>
            <div class="col-sm-5">
              <div id="ionrange_3"></div>
              <div class="input-group date" id="end_date">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span> <input class="form-control" value="2018-01" type="text" name="okr[begin_time]" id="index_end_time">
              </div>
            </div>
          </div>
          <div class="hr-line-dashed"></div>
          <div class="form-group">
            <div class="col-sm-2 col-sm-offset-10">
              <button class="btn btn-primary" type="submit">保存</button>
            </div>
          </div>
        <%end%>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $('#begin_date').datepicker({
      todayBtn: "linked",
      keyboardNavigation: false,
      forceParse: false,
      calendarWeeks: true,
      autoclose: true,
      format: 'yyyy-mm'
  });
  $('#end_date').datepicker({
      todayBtn: "linked",
      keyboardNavigation: false,
      forceParse: false,
      calendarWeeks: true,
      autoclose: true,
      format: 'yyyy-mm'
  });
</script>