<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-content text-center p-md">
          <h2><span class="text-navy">INSPINIA - Responsive Admin Theme</span>
            is provided with two main layouts <br>
            three skins and separate configure options.</h2>
          <p>
            All config options you can trun on/off from the theme box configuration (green icon on the left side of page).
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="mail-box-header">
        <input type="text" name="index_name" id="index_name">
        <div class="pull-right tooltip-demo">
          <button class="btn btn-white btn-sm" id="submit_btn"><i class="fa fa-pencil"></i> Search</button>
        </div>
      </div>
      <div class="mail-box">
        <div class="mail-text h-200">
          <div class="summernote">
            {}
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="col-lg-6" id="tree">
    </div>
  </div>
</div>
<% content_for :javascript do %>
  <script type="text/javascript">
    $(function() {
    
        //$('.summernote').summernote();
        $('.summernote').summernote({
          height: 1500,
          minHeight: 1000,
          toolbar: [
          ]
        });

    $("#submit_btn").on('click',function(e){
      var query_opts = $('.summernote').summernote('code');
      var index_name = $("#index_name").val();
     if (index_name.length<1)
        {
           sweetAlert("", "请输入索引名称！", "warning");
        }else{
            $.ajax({
              url: '/lucene/search',
              type: 'GET',
              data:{index_name:index_name,query_opts:query_opts},
              success:function(data){
              if (data.type=="success"){
                $("#tree").JSONView(eval(data.results), { collapsed: false });
                
              }else{
                sweetAlert("", data.message, "warning");
              }
            }});
        }
     
    });
    
    });
  </script>
<% end %>