<% provide(:title, "Lucene Console") %>
<div class="wrapper wrapper-content animated fadeInRight">
  <!--   <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-content text-center p-md">
          <h2><span class="text-navy">数据检索</span>
            <br>
            </h2>
          <p>
           
          </p>
        </div>
      </div>
    </div>
  </div> -->
  <div class="row">
    <div class="col-lg-12">
      <div class="float-e-margins">
        <div class="ibox-title">
          <h5>数据检索</h5>
        </div>
      </div>
    </div>
    <div class="col-md-4 codeEditor">
      <div class="jsoneditor">
        <div class="jsoneditor-menu">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
            <input type="text" placeholder="请输入索引名称" id="index_name" class="form-control" style="width:80%;" value="<%=params[:index_name]%>">
            <button type="button" class="btn btn-w-s btn-primary" style="margin-left:5px;width:15%;" id="submit_btn">搜索</button>
          </div>
          <!-- <p class="text-center"></p> -->
        </div>
        <div class="jsoneditor-outer">
          <div class="json-placeholder">
            <p>请输入检索条件,例如:</p>
            <pre class="tip_json" style="color: #999"></pre>
          </div>
          <pre class="jsonScroll">
          <code class="json" id="query_opts" contenteditable="true"></code>
        </pre>
        </div>
      </div>
    </div>
    <div class="col-md-8 treeEditor">
      <div class="jsoneditor">
        <div class="jsoneditor-outer" id="results"></div>
      </div>
    </div>
  </div>
</div>
<% content_for :javascript do %>
  <script type="text/javascript">
    $(function() {
      var json_text =
      {
        "query": {
          "bool": {
            "must": {
              "term": {
                "foo": "bar"
              }
            }
          }
        }
      }
    $(".tip_json").text(JSON.stringify( json_text ,null,2));
    $("#submit_btn").on('click',function(e){
      var query_opts = $('#query_opts').text();
      if (query_opts.length>0){
        $("#query_opts").text(JSON.stringify($.parseJSON( query_opts ),null,2));
        var snippet = document.querySelector('#query_opts');
        hljs.highlightBlock(snippet);
      }
      var index_name = $("#index_name").val();
     if (index_name.length<1)
        {
           sweetAlert("", "请输入索引名称！", "warning");
        }else{
            $.ajax({
              url: '/lucene/search',
              type: 'GET',
              data:{index_name:index_name,query_opts:query_opts},
              success:function(data){
              if (data.type=="success"){
                $("#results").JSONView(eval(data.results), { collapsed: false });
                $('#results').slimScroll({
                  height: '628px',
                  railOpacity: 0.9
                });
              }else{
                sweetAlert("", data.message, "warning");
              }
            }});
        }
    
    });
    
    $('.json-placeholder').click(function(){
      $(this).hide();
      $('#query_opts').focus();
    });
    $('#query_opts').focus(function(){
      $('.json-placeholder').hide();
      updateJsonScroll();
    });
    $('#query_opts').blur(function(){
      if(!$.trim($(this).text())){
        $('.json-placeholder').show();
      };
    })
    function updateJsonScroll(){
      $('.jsonScroll').slimScroll({
        height: '606px',
        railOpacity: 0.9
      })
    }
    
    
    });
  </script>
<% end %>