<html class="no-js" lang="en"><head><meta charset="utf-8"><meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"><title>Elastic HD Dashboard</title><meta content="bibinbin" name="author"><meta content="elasticsearch go Edition head plugin" name="description"><meta content="ElasticHD" name="keywords"><link href="/static/css/app.ff12067c7a90148fbef795a571260723.css" rel="stylesheet">
    <style type="text/css">
      .tree-view-item[_v-31243933] {
        font-family: monospace;
        font-size: 14px;
        margin-left: 18px;
      }
      
      .tree-view-item-node[_v-31243933] {
        cursor: pointer;
        position: relative;
        white-space: nowrap;
      }
      
      .tree-view-item-leaf[_v-31243933] {
        white-space: nowrap;
      }
      
      .tree-view-item-key[_v-31243933] {
        font-weight: bold;
      }
      
      .tree-view-item-key-with-chevron[_v-31243933] {
        padding-left: 14px;
      }
      
      
      .tree-view-item-key-with-chevron.opened[_v-31243933]::before {
          top:4px;
          transform: rotate(90deg);
          -webkit-transform: rotate(90deg);
      }
      
      .tree-view-item-key-with-chevron[_v-31243933]::before {
          color: #444;
          content: '\25B6';
          font-size: 10px;
          left: 1px;
          position: absolute;
          top: 3px;
          transition: -webkit-transform .1s ease;
          transition: transform .1s ease;
          transition: transform .1s ease, -webkit-transform .1s ease;
          -webkit-transition: -webkit-transform .1s ease;
      }
      
      .tree-view-item-hint[_v-31243933] {
        color: #ccc
      }
    </style><style type="text/css">
      .tree-view-wrapper[_v-59eacf80] {
        overflow: auto;
      }
      
      /* Find the first nested node and override the indentation */
      .tree-view-item-root > .tree-view-item-leaf > .tree-view-item[_v-59eacf80] {
        margin-left: 0!important;
      }
      
      /* Root node should not be indented */
      .tree-view-item-root[_v-59eacf80] {
        margin-left: 0!important;
      }
    </style><style type="text/css">
      @keyframes resizeanim { from { opacity: 0; } to { opacity: 0; } }
            .resize-triggers { animation: 1ms resizeanim; visibility: hidden; opacity: 0; }
            .resize-triggers, .resize-triggers > div, .contract-trigger:before { content: " "; display: block; position: absolute; top: 0; left: 0; height: 100%; width: 100%; overflow: hidden; z-index: -1 }
            .resize-triggers > div { background: #eee; overflow: auto; }
            .contract-trigger:before { width: 200%; height: 200%; }
    </style></head><body>
    <div id="app">
      <div id="home"><nav role="navigation" id="elastic-hd-header" class="navbar navbar-inverse navbar-fixed-top" style="margin-bottom: 0px;">
          <div class="container-fluid">
            <div class="navbar-header"><a id="elastic-logo-color" href="/" class="navbar-brand"><i class="fa fa-dashboard fa-x"></i> ElasticHD</a></div>
            <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
              <form role="search" class="navbar-form navbar-left">
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-sitemap fa-1x"></i></div>
                    <input id="elastic-host" class="form-control"></div>
                  <button class="btn btn-primary">Connect</button></div>
              </form>
              <p class="navbar-text">集群健康状态：<span id="elastic-status" style="color: rgb(0, 20, 34); background: rgb(255, 255, 255); text-align: center; border-radius: 4px; font-weight: 800;">未连接</span></p>
              <ul class="nav navbar-nav pull-right">
                <li><a href="https://github.com/farmerx" target="_blank"><i class="fa fa-github"></i> Star On GitHub</a></li>
              </ul>
            </div>
          </div>
        </nav>
        <div id="wrapper" class="container-fluid" style="padding: 0px;">
          <div id="sidebar-view">
            <section id="sidebar"><i id="toggle" class="fa fa-reorder fa-2x"></i>
              <ul id="dock">
                <li class="launcher"><i class="fa fa-dashboard"></i> <a id="Dashboard">Dashboard</a></li>
                <li class="launcher active"><i class="fa fa-search"></i> <a id="Query">Query</a></li>
                <li class="launcher"><i class="fa fa-list"></i> <a id="Indices">Indices</a></li>
                <li class="launcher"><i class="fa fa-table"></i> <a id="Mapping">Mapping</a></li>
                <li class="launcher"><i class="fa fa-gears"></i> <a id="Tools">Tools</a></li>
                <li class="launcher"><i class="fa fa-comments-o"></i> <a id="Help">Help</a></li>
                <li class="launcher"><i class="fa fa-eye"></i> <a id="Monitor">Monitor</a></li>
                <li class="launcher"><i class="fa fa-search-plus"></i> <a id="QueryUI">QueryUI</a></li>
              </ul>
              <div id="beaker" class="el-tooltip"></div>
            </section>
          </div>
          <div id="toolsbar-view">
            <section id="tools">
              <ul id="breadcrumb" class="breadcrumb">
                <li class="title"><i class="fa fa-search"></i> Search【数据搜索】</li>
              </ul>
              <div id="toolbar">
                <div class="btn-group"><a class="btn"><i class="el-tooltip fa fa-info-circle"></i></a></div>
              </div>
            </section>
            <div tabindex="-1" class="el-dialog__wrapper" style="display: none;">
              <div class="el-dialog el-dialog--tiny" style="top: 15%;">
                <div class="el-dialog__header"><span class="el-dialog__title">提示</span><button type="button" aria-label="Close" class="el-dialog__headerbtn"><i class="el-dialog__close el-icon el-icon-close"></i></button></div>
                <!---->
                <div class="el-dialog__footer"><span class="dialog-footer"><button type="button" class="el-button el-button--default"><!----><!----><span>取 消</span></button> <button type="button" class="el-button el-button--primary"><!----><!----><span>确 定</span></button></span></div>
              </div>
            </div>
          </div>
          <div id="content">
            <div>
              <div id="search">
                <section>
                  <div class="el-row" style="margin-left: -5px; margin-right: -5px;">
                    <div class="el-col el-col-24 el-col-xs-24 el-col-sm-24 el-col-md-10 el-col-lg-7" style="padding-left: 5px; padding-right: 5px;">
                      <div>
                        <div class="el-card box-card">
                          <div class="el-card__header">
                            <div class="clearfix"><span><i class="fa fa-search"></i> 搜索</span> <span style="float: right;"><a><i class="fa fa-history"></i> 历史查询</a></span> <span style="float: right; padding-right: 10px;"><a><i class="fa fa-lightbulb-o"></i> 提示</a></span></div>
                          </div>
                          <div class="el-card__body">
                            <div>
                              <div class="el-row">
                                <div class="el-col el-col-24 el-col-xs-12 el-col-sm-12 el-col-md-12 el-col-lg-12">
                                  <div class="el-input"><!----><!----><input autocomplete="off" placeholder="请输入要查询的索引" type="text" rows="2" validateevent="true" class="el-input__inner"><!----><!----></div>
                                </div>
                                <div class="el-col el-col-24 el-col-xs-12 el-col-sm-12 el-col-md-12 el-col-lg-12">
                                  <div class="el-input el-input-group el-input-group--prepend">
                                    <div class="el-input-group__prepend">/</div>
                                    <!----><input autocomplete="off" placeholder="请输入要查询的type" type="text" rows="2" validateevent="true" class="el-input__inner"><!----><!----></div>
                                </div>
                              </div>
                              <div class="el-row">
                                <div class="el-col el-col-24 el-col-xs-15 el-col-sm-15 el-col-md-15 el-col-lg-16">
                                  <div class="el-input"><!----><!----><input autocomplete="off" placeholder="请输入搜索参数" type="text" rows="2" validateevent="true" class="el-input__inner"><!----><!----></div>
                                </div>
                                <div class="el-col el-col-24 el-col-xs-9 el-col-sm-9 el-col-md-9 el-col-lg-8">
                                  <div class="el-select"><!---->
                                    <div class="el-input"><!----><i class="el-input__icon el-icon-caret-top"></i><input autocomplete="off" placeholder="请选择" readonly="readonly" icon="caret-top" type="text" rows="2" class="el-input__inner"><!----><!----></div>
                                    <div class="resize-triggers">
                                      <div class="expand-trigger">
                                        <div style="width: 112px; height: 37px;"></div>
                                      </div>
                                      <div class="contract-trigger"></div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="el-row">
                                <div class="el-col el-col-24 el-col-xs-24 el-col-sm-24 el-col-md-24 el-col-lg-24">
                                  <div class="el-textarea">
                                    <textarea placeholder="请输入内容" type="textarea" rows="20" autocomplete="off" validateevent="true" class="el-textarea__inner"></textarea>
                                  </div>
                                </div>
                              </div>
                              <div class="el-row">
                                <div class="el-col el-col-24 el-col-xs-24 el-col-sm-24 el-col-md-24 el-col-lg-24">
                                  <div class="el-button-group"><button type="button" class="el-button el-button--primary el-button--small"><!----><i class="el-icon-search"></i><span>查询</span></button> <button type="button" class="el-button el-button--primary el-button--small"><!----><i class="el-icon-check"></i><span>验证JSON</span></button></div>
                                </div>
                              </div>
                              <div class="el-row">
                                <div class="el-col el-col-24 el-col-xs-24 el-col-sm-24 el-col-md-24 el-col-lg-24"><span style="color: red;"></span></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="el-col el-col-24 el-col-xs-24 el-col-sm-24 el-col-md-14 el-col-lg-17" style="padding-left: 5px; padding-right: 5px;">
                      <div>
                        <div class="el-card box-card">
                          <div class="el-card__header">
                            <div class="clearfix"><span><i class="fa fa-search"></i>查询结果</span></div>
                          </div>
                          <div class="el-card__body">
                            <div><!---->
                              <div id="jsonView">
                                <div class="jsonview">{
                                  <ul class="obj level0">
                                    <li><span class="prop"><span class="q">"</span>info<span class="q">"</span></span>: <span class="string">"Get http://127.0.0.1:9200///_search: dial tcp 127.0.0.1:9200: getsockopt: connection refused"</span></li>
                                  </ul>
                                  }</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
                <div tabindex="-1" class="el-dialog__wrapper" style="display: none;">
                  <div class="el-dialog el-dialog--small" style="top: 15%;">
                    <div class="el-dialog__header"><span class="el-dialog__title">历史记录</span><button type="button" aria-label="Close" class="el-dialog__headerbtn"><i class="el-dialog__close el-icon el-icon-close"></i></button></div>
                    <!----><!----></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="/static/js/manifest.1c2c32b0b2549f55b943.js"></script><script type="text/javascript" src="/static/js/vendor.6f5cbf6a122d00b60da1.js"></script><script type="text/javascript" src="/static/js/app.5a400aa3e4ff3f9b1a12.js"></script>
    <div class="el-select-dropdown" style="min-width: 110.797px; transform-origin: center top 0px; z-index: 2002; display: none;">
      <div class="el-scrollbar" style="">
        <div class="el-select-dropdown__wrap el-scrollbar__wrap el-scrollbar__wrap--hidden-default">
          <ul class="el-scrollbar__view el-select-dropdown__list" style="position: relative;"><!---->
            <li class="el-select-dropdown__item selected hover"><span>GET</span></li>
            <li class="el-select-dropdown__item"><span>PUT</span></li>
            <li class="el-select-dropdown__item"><span>DELETE</span></li>
            <li class="el-select-dropdown__item"><span>POST</span></li>
            <li class="el-select-dropdown__item"><span>HEAD</span></li>
            <div class="resize-triggers">
              <div class="expand-trigger">
                <div style="width: 110px; height: 193px;"></div>
              </div>
              <div class="contract-trigger"></div>
            </div>
          </ul>
        </div>
        <div class="el-scrollbar__bar is-horizontal">
          <div class="el-scrollbar__thumb" style="transform: translateX(0%);"></div>
        </div>
        <div class="el-scrollbar__bar is-vertical">
          <div class="el-scrollbar__thumb" style="transform: translateY(0%);"></div>
        </div>
      </div>
      <!----></div>
  </body></html>