<style type="text/css">
	.jsoneditor{
		border: 1px solid #eee;
		box-shadow: 0 0 4px 2px rgba(0, 0, 0, .1);
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.jsoneditor-menu{
		background-color: #eee;
		padding: 4px 10px;
		overflow: hidden;
	}
	.jsoneditor-outer{
		background-color: #fff;
	}

	.treeEditor .jsoneditor{
		background-color: #f8f8f8;
		padding: 10px;
		min-height: 441px;
	}
	.treeEditor .jsoneditor-outer{
		background-color: transparent;
	}

  .hljs {
    background: none !important;
  }
  .json{
  	border:1px solid #ccc;
  	min-height: 100px;
  	display: inline-block;
  	width: 300px;
  }

</style>

<div class="row jsonContents">
	<div class="col-md-4 codeEditor">
		<div class="jsoneditor">
			<div class="jsoneditor-menu">
				<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-search"></i></span>
					<input type="text" placeholder="Username" class="form-control">
        </div>
			</div>
			<div class="jsoneditor-outer">
				<pre>
					<code class="json" id="myjson" contenteditable="true"></code>
				</pre>
			</div>
		</div>
		
	</div>
	<div class="col-md-1" style="margin-top: 200px;">
		<p class="text-center"><button class="btn btn-primary " id="btn" type="button"><i class="glyphicon glyphicon-arrow-right"></i><i class="glyphicon glyphicon-arrow-right"></i></button></p>
	</div>
  <div class="col-md-7 treeEditor">
  	<div class="jsoneditor">
  		<div class="jsoneditor-outer">tree</div>
  	</div>
  </div>
</div>
<script type="text/javascript">
	$('#btn').click(function(){
		var json = $('#myjson').text();
	  console.log(json)
		$("#myjson").text(JSON.stringify($.parseJSON( json ),null,2));
		var snippet = document.querySelector('#myjson');
	  hljs.highlightBlock(snippet);
	})
</script>
