<style type="text/css">
	.jsoneditor{
		border: 1px solid #5b6671;
		box-shadow: 0 0 4px 2px rgba(0, 0, 0, .1);
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.jsoneditor-menu{
		//height: 35px;
		background-color: #5b6671;
		padding: 4px 10px;
		overflow: hidden;
	}
	.jsoneditor-menu .form_control{
		border: none;
    padding: 0 5px;
    height: 25px;
    float: left;
    margin-right: 8px;
    background-color: #e4e4e4;
	}
	.jsoneditor-menu .form_control:focus{
		outline: none;
	}
	.jsoneditor-menu .btn-submit{
		border-radius: 0px;
		height: 25px;
	}
	.jsoneditor-outer{
		background-color: #fff;
	}
	.jsoneditor-outer textarea{
		border:none;
		width: 100%;
		height: 100%;
		min-height: 400px;
		display: inline-block;
		padding: 10px;
	}
	.jsoneditor-outer textarea:focus{
		outline: none;
	}
	.treeEditor .jsoneditor{
		background-color: #f8f8f8;
		padding: 10px;
		min-height: 441px;
	}
	.treeEditor .jsoneditor-outer{
		background-color: transparent;
	}
</style>

<div class="row jsonContents">
	<div class="col-md-4 codeEditor">
		<div class="jsoneditor">
			<div class="form-inline jsoneditor-menu">
				<div class="input-group">
					<span class="input-group-addon">@</span>
					<input type="text" placeholder="Username" class="form-control">
					<span class="input-group-btn"><button type="button" class="btn btn-primary">Go!</button></span>
        </div>
			</div>
			<div class="jsoneditor-outer">
				<textarea rows="3"></textarea>
			</div>
		</div>
	</div>
  <div class="col-md-8 treeEditor">
  	<div class="jsoneditor">
  		<div class="jsoneditor-outer">tree</div>
  	</div>
  </div>
</div>
