<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">

    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>当前命令列表</h5>
        </div>
        <div id="result_release">
          <div class="ibox-content table-sql">
            <div class="ibox-content p15-0 all-page table-content">
              <div id="main" style="width: 100%;height:400px;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script charset="utf-8">
  var myChart = echarts.init(document.getElementById('main'));

        // 指定图表的配置项和数据
var option = {
    xAxis: {
        type: 'category',
        data: <%= raw @results.keys %>
    },
    yAxis: {
        type: 'value'
    },
    series: [{
        data: <%= raw @results.values %>,
        type: 'line'
    }]
};
        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
</script>
