<%if !@settings.blank?%>
  <table class="table table-striped table-bordered table-hover table-vcenter">
    <thead>
      <tr>
        <th class="text-center">配置字段(key)</th>
        <th class="text-center">配置详情(value)</th>
        <th colspan="5" class="text-center">操作</th>
      </tr>
    </thead>
    <tbody class="text-center">

      <% @settings.each do |k,v| %>
       <%=render :partial=>"one_setting_in_list",:locals=>{:k=>k,:v=>v}%>
      <% end %>
    </tbody>
  </table>
<%else%>
   <%= render "shared/no_data" %>
<%end%>

