# config/app.yml for rails-settings-cached
defaults: &defaults
  mailer_provider: 'smtp'
  mailer_sender: 'service@xjgreat.com'
  mailer_options:
    address: 'smtp.exmail.qq.com'
    port: 25
    domain: 'exmail.qq.com'
    user_name: 'service@xjgreat.com'
    password: 'XiJia12345'
    authentication: 'login'
    enable_starttls_auto: true
  redis:
    host: '127.0.0.1'
    port: 6379
    db: 0
    password: '***'

development:
  <<: *defaults
  domain: 'http://localhost:8028'

test:
  <<: *defaults

production:
  <<: *defaults
  domain: 'http://archon-center.aggso.com'
