default: &default
  adapter: mysql2
  database: archon_center
  username: root
  password: 
  encoding: utf8
  host: localhost
  port: 3306

development:
  <<: *default

production:
  <<: *default


archon_data:
  adapter: mysql2
  database: archon_fix
  username: root
  password: 
  encoding: utf8
  host: 172.16.17.165
  port:  4000
  pool: 10


