default: &default
  url: redis://10.28.147.226:6379
  password: archon
  db: 0

development:
  <<: *default

test:
  <<: *default

production:
  <<: *default

counter: 
  url: redis://localhost:6379
  password: 
  db: 0
