<tr>
  <td><%= media_account.name%></td>
  <td><%= media_account.account %></td>
  <td><%= raw media_account_type_i(media_account.account_type)%></td>
  <td><%= raw status_html(media_account) %></td>
</tr>
