<%if !@versions.blank?%>
  <table class="table table-striped table-bordered table-hover table-vcenter">
    <thead>
      <tr>
        <th class="text-center">名称</th>
        <th class="text-center">打包时间</th>
        <th class="text-center">操作</th>
      </tr>
    </thead>
    <tbody class="text-center">
      <% @versions.each do |code| %>
        <tr>
          <td class="text-center"><%= code.name_cn %></td>
          <td class="text-center"><%= code.updated_at%></td>
          <td class="pos-r">
            <a href="/service_code_versions/package?name=<%= code.name %>">
              打包
            </a>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<%else%>
  <%= render "shared/no_data" %>
<%end%>
