<% provide(:title, "Control Templates") %>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">

    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>代码打包管理</h5>
        </div>

        <div class="ibox-content pl15">
        </div>
        <div id="result_release">
         
          <div class="ibox-content table-sql">
            <ul class="tab-ul clear-p">
              <li class="tab-li acive">
                <a href="#" data-target="all-page">代码打包管理</a>
              </li>
            </ul>
            
            <div class="ibox-content p15-0 all-page table-content" >
              <%= render "list_body" %>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>

<!--这里是提示框-->

