<% provide(:title, "Dashboard") %>

<div class="wrapper wrapper-content">
  <h3 class="section-title">总量统计</h3>
  <div class="row">
    <div class="col-lg-3 col-md-6">
      <div class="statistic-group bg-statistic-1">
        <div class="statistic-group__icon"></div>
        <div class="statistic-group__content">
          <h6>今日采集量</h6>
          <p>0</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="statistic-group bg-statistic-2">
        <div class="statistic-group__icon"></div>
        <div class="statistic-group__content">
          <h6>本周采集量</h6>
          <p>3</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="statistic-group bg-statistic-3">
        <div class="statistic-group__icon"></div>
        <div class="statistic-group__content">
          <h6>本月采集量</h6>
          <p>12</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="statistic-group bg-statistic-4">
        <div class="statistic-group__icon"></div>
        <div class="statistic-group__content">
          <h6>总采集量</h6>
          <p>235</p>
        </div>
      </div>
    </div>
  </div>

  <h3 class="section-title">单项统计</h3>
  
</div>
