<% provide(:title, "Dashboard") %>

<div class="wrapper wrapper-content">
  <h3 class="section-title">总量统计</h3>
  <div class="row">
    <div class="col-lg-3 col-md-6">
      <div class="statistic-group bg-statistic-1">
        <div class="statistic-group__icon"></div>
        <div class="statistic-group__content">
          <h6>今日采集量</h6>
          <p>0</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="statistic-group bg-statistic-2">
        <div class="statistic-group__icon"></div>
        <div class="statistic-group__content">
          <h6>本周采集量</h6>
          <p>3</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="statistic-group bg-statistic-3">
        <div class="statistic-group__icon"></div>
        <div class="statistic-group__content">
          <h6>本月采集量</h6>
          <p>12</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="statistic-group bg-statistic-4">
        <div class="statistic-group__icon"></div>
        <div class="statistic-group__content">
          <h6>总采集量</h6>
          <p>235</p>
        </div>
      </div>
    </div>
  </div>

  <h3 class="section-title">单项统计</h3>
  
  <!-- 表单: 时间范围查询 -->

  <div class="row">
    <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-title">每日采集数据量趋势图</div>
        <div class="ibox-content">
          <div class="graph-box" id="graph_total_data" style="height: 400px"></div>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="ibox">
        <div class="ibox-title">每日采集任务量趋势图</div>
        <div class="ibox-content">
          <div class="graph-box" id="graph_task_data" style="height: 400px"></div>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="ibox">
        <div class="ibox-title">每日成功采集任务量趋势图</div>
        <div class="ibox-content">
          <div class="graph-box" id="graph_success_task_data" style="height: 400px"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/bootstrap_datepicker' %>

<% content_for :javascript do %>
  <%= javascript_include_tag 'echarts/echarts.min' %>
  <script>
    // $(function() {
      function getTestData(n) {
        n = n || 10;
        var res = [];

        while(res.length < n) {
          var now = new Date().getTime();
          var t = new Date(now - ( n - res.length ) * 3600 * 24 * 1000);
          var y = t.getFullYear();
          var m = t.getMonth() + 1;
          var d = t.getDate();

          m = m > 9 ? m : '0' + m;
          d = d > 9 ? d : '0' + d;

          res.push({
            name: [y, m, d].join('-'),
            value: rand(1, 1000)
          });
        }

        return res;
      }

      [ '#graph_total_data', '#graph_task_data', '#graph_success_task_data' ].forEach(function(selector) {
        renderTrendEchart($(selector)[0]);
      });

      function renderTrendEchart(el, seriesName, dataArray) {
        dataArray = getTestData(65);
        console.log(dataArray);

        return renderEchart(el, {
          tooltip: {
            trigger: 'axis',
            axisPointer: {            // 坐标轴指示器，坐标轴触发有效
              type: 'line'        // 默认为直线，可选为：'line' | 'shadow'
            }
          },
          legend: {
            show: true,
            data: dataArray
          },
          grid: {
            top: 30,
            left: 15,
            right: 40,
            bottom: 40,
            containLabel: true
          },
          dataZoom: [
            {
              show: true,
              type: 'inside',
              start: dataArray.length > 10 ? 80 : 0,
              end: 100
            },
            {
              type: 'slider',
              showDetail: false
            }
          ],
          xAxis:  {
            type: 'category',
            name: '日期',
            axisLine: {
              show: true
            },
            axisTick: {
              show: true
            },
            splitLine: {
              show: false
            },
            axisLabel: {
              interval: 0,
              rotate: 45
            },
            data: dataArray.map(function(item) {
              return item.name;
            })
          },
          yAxis: {
            type: 'value',
            name: '数量/条',
            axisLine: {
              show: true
            },
            axisTick: {
              show: false
            },
            splitLine: {
              show: true
            },
            axisLabel: {}
          },
          series: [{
            name: seriesName || 'test',
            type: 'bar',
            barMaxWidth: 50,
            data: dataArray
          }]
        });
      }
    // });
  </script>
<% end %>
