<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
>
  <Worksheet ss:Name="data">
    <Table>
      <Row>
        <% column_names = @datas.first.attributes.keys - ["data_snapshot_path"] %>
        <% column_names.each do |column| %>
            <Cell>
              <Data ss:Type="String"><%= column %></Data>
            </Cell>
        <% end %>
      </Row>
      <% @datas.each do |x| %>
          <Row>
            <% column_names.each do |column| %>
                <Cell>
                  <Data ss:Type="String"><%= x.send(column) %></Data>
                </Cell>
            <% end %>
          </Row>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>