<% provide(:title, "数据中心") %>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>数据列表</h5>
        </div>
        <div class="ibox-content pl15">
          <div class="bg-search">
            <%=form_tag url_for(action: :show),:class=>"-form-horizontal",:method=>:get do%>
              <div id="rcontent" class="clear-p">

                <div class="col-md-4">
                  <div class="form-group mb0">
                    <%=select_tag(:table_name, options_for_select(ArchonBase.model_mapper.to_a,params["table_name"]),include_blank: "类别",:class=>"form-control chosen-select")%>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group mb0">
                    <%=select_tag(:tag_id,options_for_select(SpecialTag.tags,params["tag_id"]),include_blank: "标签",:class=>"form-control chosen-select")%>
                  </div>
                </div>
                <div class="ibox-tools dib">
                  <input type="submit" class="btn btn-primary btn-warning w70 mb0" value="搜索">
                  <!-- <a class="btn btn-primary btn-warning w70 mb0">
                    搜索</a> -->
                </div>
              </div>
            <%end%>
          </div>
        </div>
        <div id="result_release">
          <div class="ibox-content table-sql">
            <ul class="tab-ul clear-p">
              <li class="tab-li active">
                <a href="#" data-target="all-page">列表信息
                </a>
              </li>
            </ul>
            <div class="ibox-content p15-0 all-page table-content">
              <%= render "special_show_list_body" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% content_for :javascript do %>
  <script>
    $(document)
    .on("click",".tab-li a",function(e){
      e.preventDefault();
      var $this = $(this);
      if ($this.find('.icon-result').length > 0) return;
      var targetClass = $this.data('target');
      var $thisP = $this.closest('.ibox-content');
      $this.closest('li').addClass('active').siblings('li').removeClass('active');
      $thisP.children('.ibox-content').addClass('dn');
      $thisP.children('.' + targetClass).removeClass('dn');
      $('.more-ul').addClass('dn');
    
      if (targetClass) {
        var url = $this.attr("href");
        if (url != "##") {
          $("#current_url").val(url);
          $.get(url, function (data) {
            $("." + targetClass).html(data);
          })
          return false;
        }
      }
    })
    .on("click",'.icon-more',function(e){
       e.preventDefault();
        var $this = $(this), $thisMoreUl = $this.closest('td').find('.more-ul');
        var isDn = $thisMoreUl.hasClass('dn');
        $('.more-ul').addClass('dn');
        if (isDn) {
          $thisMoreUl.removeClass('dn');
        }
        //点击其他的地方关闭更多
        $(document).on('click', function moreShow(e) {
          var $target = $(e.target)
            if ($target.closest('.pos-r').length == 0) {
              $('.more-ul').addClass('dn');
              $(document).off('click', moreShow);
            }
        })
    })
    .on("click",".reset-line",function(e){
    
        e.preventDefault();
    
        //删除本行数据
        //var _$this = $(this);
        var $this = $(this),html = $this.closest('tr').find('td').first().html();
        var $modal = $('#modal-form-reset');
        $modal.find('.reset-html').html(html);
        $modal.modal("show");
    
        $('.sure-reset').off().on('click', function (e) {
           e.preventDefault();
          var _this=$(this);
          //需要传到数据库中，需要后台传输数据，局部刷新页面
          var url = $this.attr("href");
          if (url != "##") {
            $.ajax({
              url: url,
              type: 'GET',
              success:function(data){
              if (data.type=="success"){
                _this.closest('.modal').modal("hide");
                //$this.closest('tr').remove();
              }
            }});
          }
    
        });
    
    }).on("click",'.cancel-reset',function(e){
       var $modal = $('#modal-form-reset');
          $modal.modal("hide");
    })
    .on("click",".remove-line",function(e){
    
        e.preventDefault();
    
        //删除本行数据
        //var _$this = $(this);
        var $this = $(this),html = $this.closest('tr').find('td').first().html();
        var $modal = $('#modal-form-remove');
        $modal.find('.remove-html').html(html);
        $modal.modal("show");
    
        $('.sure-remove').off().on('click', function (e) {
           e.preventDefault();
          var _this=$(this);
          //需要传到数据库中，需要后台传输数据，局部刷新页面
          var url = $this.attr("href");
          if (url != "##") {
            $.ajax({
              url: url,
              type: 'GET',
              success:function(data){
              if (data.type=="success"){
                _this.closest('.modal').modal("hide");
                $this.closest('tr').remove();
              }
            }});
          }
    
        });
    
    }).on("click",'.cancel-remove',function(e){
       var $modal = $('#modal-form-remove');
          $modal.modal("hide");
    });
    
    
    $('.add-sql').on('click', function (e) {
      e.preventDefault();
      var $modal = $('#modal-form-add-sql');
      $modal.modal("show");
    })
    
     $('.chosen-select').chosen({width: "100%",disable_search_threshold: 10000});
    
    $(function() {
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });
    
    });
  </script>
<% end %>
