

.statistic-group {
  position: relative;
  padding-left: 40px;
}

.bg-statistic-1 {
  background-color: rgba(51,202,187,1);
}

.bg-statistic-2 {
  background-color: rgba(249,104,104,1);
}

.bg-statistic-3 {
  background-color: rgba(21,195,119,1);
}

.bg-statistic-4 {
  background-color: rgba(146,109,222,1);
}

.statistic-group__icon {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 40px;
  height: 40px;
}