

.data__title {
  font-size: 18px;
  margin: 0 0 1em;
}

.data__items {
  list-style: none;
  padding: 0;
  margin-bottom: 1em;

  li {
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;

    span {
      color: #999;
    }

    strong {
      font-weight: normal;
      color: #676a6c;
    }
  }
}

.data__content {
  white-space: pre-line;
  font-size: 14px;
  line-height: 1.5;
  color: #676a6c;
}