

.top-search-box {
  box-shadow: 0 0 4px 0 rgba(0,0,0,.1);
  border: 1px solid #e4e5e6;

  .nav-tabs {
    background-color: #f5f7fe;
  }

  .nav-tabs > li > a {
    border-radius: 0;
    border-top-color: transparent!important;
    border-left-color: transparent!important;
  }

  .nav-tabs > li.active > a {
    background-color: #fff;
  }

  .tab-pane {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.data__title {
  font-size: 18px;
  margin: 0 0 1em;
}

.data__items {
  list-style: none;
  padding: 0;
  margin-bottom: 1em;

  li {
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;

    span {
      color: #999;
    }

    strong {
      font-weight: normal;
      color: #676a6c;
    }
  }
}

.data__content {
  white-space: pre-line;
  font-size: 14px;
  line-height: 1.5;
  color: #676a6c;
}