//= require highlight/atelier-dune-dark.css
.jsoneditor{
	border: 1px solid #eee;
	box-shadow: 0 0 4px 2px rgba(0, 0, 0, .1);
/*	margin-top: 15px;*/
	margin-bottom: 15px;
}
.jsoneditor-menu{
	background-color: #eee;
	padding: 4px 10px;
	overflow: hidden;
}
.jsoneditor-outer{
	background-color: #fff;
	position: relative;
}
.codeEditor{
	padding-right: 0px !important;
}
.treeEditor{
	padding-left: 0px !important;
}
.treeEditor .jsoneditor{
	background-color: #fff;
	padding: 10px;
	min-height: 650px;
}
.treeEditor .jsoneditor-outer{
	background-color: transparent;
}
.json-placeholder{
	position: absolute;
	top: 10px;
	left: 0px;
	color: #999;
	padding: 0 10px;
	width: 100%;
}
.json-placeholder:hover{
	cursor: text;
}

.hljs {
  background: none !important;
}
.json{
	display: inline-block;
	width: 100%;
	min-height: 551px;
}
.json:focus {
    outline: none;
}

pre{
	background-color: #fff !important;
	border:none !important;
	white-space: pre-wrap !important;
	margin-bottom: 0px !important;
	line-height: 25px;
	color: inherit !important;
}
