<div class="form-group">
  <label class="col-sm-2 control-label">选择Agent</label>
  <div class="col-sm-10">
    <% @agent_ips.each do |v|  %>
      <div class="i-checks inline">
        <label class="control-label">
          <input type="checkbox" name="account[valid_ips][]" value="<%= v %>" checked="checked" />
          <i></i> <%= v %>
        </label>
      </div>
    <% end %>
  </div>
</div>
